.wrap {
    display: flex;
    align-items: center;
    position: relative;

    &:hover .remove-button {
        display: block;
    }
}

.checkbox {
    width: 40px;
    height: 40px;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
    flex-shrink: 0;

    &.completed {
        background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
    }
}

.text {
    font-size: 24px;
    padding: 15px;
    padding-right: 20px;
}

.remove-button {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;

    &:hover {
        color: #af5b5e;
    }
}