html,
body {
  margin: 0;
  min-height: 100vh;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

button {
  background-color: #fff;
  border: none;
}

:global(#app) {
  min-height: 100vh;
}

:focus {
  outline: 0;
}